<footer class="footer">
  <div class="container">
    <div class="footer-top">
      <div class="footer-brand">
        <h3>Anytimer</h3>
        <p>De anytimer app. Houd anytimers onderling je vrienden gemakkelijk bij.</p>
      </div>
      <div class="footer-links">
        <div class="column">
          <h4>Anytimer.app</h4>
          <a routerLink="/" fragment="features">Features</a>
          <a routerLink="/" fragment="hoe-het-werkt">Hoe het werkt</a>
          <a routerLink="/" fragment="faq">FAQ</a>
          <a routerLink="/" fragment="team">Team</a>
          <a routerLink="/contact">Contact</a>
          <a routerLink="/wat-is-een-anytimer">Wat is een anytimer?</a>
        </div>
        <div class="column">
          <h4>Juridisch</h4>
          <a routerLink="/privacy">Privacybeleid</a>
          <a routerLink="/terms">Gebruiksvoorwaarden</a>
          <a routerLink="/remove-account">Account verwijderen</a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p>&copy; 2026 Anytimer.app - Alle rechten voorbehouden.</p>
    </div>
  </div>
</footer>
